<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

<h1>Login</h1>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<form method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}

    <label>Email</label><br>
    <input type="email" name="email" required>

    <br><br>

    <label>Password</label><br>
    <input type="password" name="password" required>

    <br><br>

    <button type="submit">Login</button>
    <a href="{% url 'accounts:forgot_password' %}" style="font-size: 12px; color: #2c5364; text-decoration: none;">
            Forgot Password?
    </a>
</form>

</body>
</html>